/.idea/
/project/
/.bsp/
/target/
/src/main/resources/
/.aws/credentials
/cluster/target/
/step_1/target/
/step_1/src/main/resources/application.conf
/cluster/src/main/resources/application.conf
/cluster/src/main/resources/.aws/credentials